@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

.main__content{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 2;
    color: white;
}

.main__content header{
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    padding: 50px 100px;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: start;
}
.logo{
    text-transform: uppercase;
    cursor: pointer;
}

.main__content video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;   
    opacity: 0.9;
}
   
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
.text{ 
    width: 100%;
    position: relative;
    z-index: 10;
    margin-top: 10rem;
}
.text h2{
    font-size: 4rem;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;

}

.text h4{
    width: 600px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}
.text p{

    font-size: 1rem;
    margin: 20px 0;
    font-weight: 400;
    width: 500px;
}

 .text .button{
    display: inline-block;
    font-size: 1rem;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    background:#32a6a8;
    border-radius:5px;
    margin-top: 5px;
    letter-spacing: 1px;
    transition: 0.2s;
}
.text button:hover{
    letter-spacing: 3px;
}

.social li{
    list-style-type: none;
}
.social li a{
    display: flex;
    float: left;
    font-size: 1.2rem;
   margin-top:2rem;
   padding: 1rem;
   color: white;
   text-decoration: none;
   transform: scale(1.1 );
   transition: 0.5s ease;
}
.social li a:hover{
    transform: scale(1.1) translateY(-10px);
}

@media screen and (max-width:768px){
    .main__content video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;   
        opacity: 0.9;
    }
    .text{ 
        width: 100%;
        position: relative;
        z-index: 10;
        margin-top: 10rem;
    }
    .text h2{
        font-size: 2rem;
        font-weight: 800;
        line-height: 2em;
        text-transform: uppercase;
    
    }
    
    .text h4{
        width: 600px;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1em;
        text-transform: uppercase;
    }
    .text p{
    
        font-size: 1rem;
        margin: 20px 0;
        font-weight: 400;
        width: 500px;
    }
    
     .text .button{
        display: inline-block;
        font-size: 1rem;
        padding: 10px 30px;
        text-decoration: none;
        color: white;
        background:#32a6a8;
        border-radius:5px;
        margin-top: 5px;
        letter-spacing: 1px;
        transition: 0.2s;
    }
    .text button:hover{
        letter-spacing: 3px;
    }
    
    .social li{
        list-style-type: none;
    }
    .social li a{
        display: flex;
        float: left;
        font-size: 1.2rem;
       margin-top:2rem;
       padding: 1rem;
       color: white;
       text-decoration: none;
       transform: scale(1.1 );
       transition: 0.5s ease;
    }
    .social li a:hover{
        transform: scale(1.1) translateY(-10px);
    }
    
}
@media screen and (max-width:425px){


    .logo{
        font-size:2.5rem;
    }
    .main__content video{
           width: 900px;
           height: 1400px;
          object-fit: cover;
    }
    .text{ 
        width: 100%;
        position: relative;
        z-index: 10;
        margin-top: 40rem;
    }
          .text h2{
            font-size: 2.5rem;
            font-weight: 800;
            line-height: 2em;
            text-transform: uppercase;
        
        }
        
        .text h4{
            width: 600px;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1em;
            text-transform: uppercase;
        }
        .text p{
        
            font-size: 1.5rem;
            margin: 20px 0;
            font-weight: 400;
            width: 500px;
        }          
    }

    @media screen and (max-width:375px){
        .text{ 
            width: 100%;
            position: relative;
            z-index: 10;
            margin-top: 40rem;
        }
        .main__content video{
            width: 900px;
            height: 1500px;
           object-fit: cover;
     }        
     .text h2{
        font-size: 2.8rem;
        font-weight: 800;
        line-height: 2em;
        text-transform: uppercase;
    
    }
    
    .text h4{
        width: 600px;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1em;
        text-transform: uppercase;
    }
    .text p{
    
        font-size: 1.8rem;
        margin: 20px 0;
        font-weight: 400;
        width: 500px;
    }          

    }        
       
    @media screen and (max-width:320px){

        .logo{
            font-size: 2.5rem;
        }
        .main__content video{
            width: 900px;
            height: 1800px;
           object-fit: cover;
     } 
     .text{ 
        width: 100%;
        position: relative;
        z-index: 10;
        margin-top: 50rem;
     }
          .text h2{
            font-size: 3.5rem;
            font-weight: 800;
            line-height: 2em;
            text-transform: uppercase;
        
        }
        
        .text h4{
            width: 600px;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1em;
            text-transform: uppercase;
        }
        .text p{
        
            font-size: 1.8rem;
            margin: 20px 0;
            font-weight: 400;
            width: 600px;
        }          
        .social li a{
            width: 100%;
            display: flex;
            
            float: left;
            font-size: 2rem;
            margin-top:2rem;
           padding: 1rem;
           color: white;
           text-decoration: none;
           transform: scale(1.1 );
           transition: 0.5s ease;
        }
        .social li a:hover{
            transform: scale(1.1) translateY(-10px);
        }
    }













